@include mq(breakpoint(sm)) {
    header {
        position: static;
        text-align: center;

        .container {
            width: 100%;
        }

        height: 160px;
    }

    .logo,
    .navbar {
        width: 100%;
    }

    .navbar {
        line-height: 60px;
    }

    .portfolio-item {
        width: 100%;
        height: 300px;
        margin: 20px auto;

        &-caption {
            top: 75%;
        }
    }
}
