/* Base */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

html {
  height: 100%;
}

body {
  background-image: url(../img/bg.png);
  background-repeat: repeat;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777;
  font-size: 16px;
  line-height: 30px;
  min-height: 100%;
  position: relative;
  padding-bottom: 115px;
}

h1,
h2,
h3 {
  font-family: 'Georgia', Times, Times New Roman, serif;
}

h2 {
  color: #4aaaa5;
}

/* Layout */
.container {
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
}

.clearfix {
  clear: both;
}

.text-center {
  text-align: center;
}

header {
  background: #fff;
  height: 100px;
  line-height: 100px;
  margin-bottom: 40px;
  border-bottom: #ccc 2px solid;
}

.navbar {
  list-style: none;
  float: right;
}

.navbar-item {
  display: inline;
  text-align: center;
}

.navbar-item:not(:last-child) {
  border-right: #777 1px solid;
  padding-left: 1px;
}

.navbar-link {
  font-size: 18px;
  text-decoration: none;
  color: #777;
  padding: 5px 10px;
}

.navbar-link.active {
  color: #4aaaa5;
}

.navbar:hover .navbar-link:not(.active) {
  opacity: 0.5;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.navbar:hover .navbar-link:not(.active):hover {
  opacity: 1;
  -webkit-transition: 200ms;
  transition: 200ms;
}

footer {
  bottom: 0;
  color: #fff;
  background-color: #666;
  border-top: #4aaaa5 8px solid;
  height: 75px;
  width: 100%;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Components */
hr {
  background-color: #ddd;
  height: 2px;
  border: none;
  margin-bottom: 20px;
}

.card {
  background: #fff;
  padding: 30px;
  border: #ddd 1px solid;
}

.card h2 {
  margin-bottom: 20px;
}

.logo {
  background-color: #4aaaa5;
  color: #fff;
  letter-spacing: 0.3rem;
  float: left;
  padding: 0 40px;
}

.profile-image {
  height: 300px;
  float: left;
  margin-right: 15px;
  border: #ddd 1px solid;
}

.contact-form label {
  display: block;
}

.contact-form-control {
  border: #4aaaa5 1px solid;
  display: block;
  height: 30px;
  width: 100%;
  margin: 0 0 15px 0;
  padding-left: 10px;
}

.contact-form-field {
  border: #4aaaa5 1px solid;
  display: block;
  width: 100%;
  margin: 0 0 15px 0;
  padding-left: 10px;
}

.contact-form-button {
  display: block;
  padding: 8px 25px;
  color: #fff;
  background-color: #4aaaa5;
  border: none;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.contact-form-button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.portfolio {
  text-align: center;
}

.portfolio-item {
  display: inline-block;
  height: 200px;
  width: 250px;
  margin: 20px;
  border: #666 1px solid;
}

.portfolio-item-caption {
  position: relative;
  top: 140px;
  background-color: #4aaaa5;
  padding: 10px 10px;
  width: 100%;
  text-align: center;
  font-weight: 300;
  font-size: 22px;
}

.portfolio-item-caption-link {
  color: #fff;
  text-decoration: none;
}

.portfolio-item.hangman {
  background: url(../img/portfolio-thumbnails/hangman.jpg);
}

.portfolio-item.rpg {
  background: url(../img/portfolio-thumbnails/rpg.jpg);
}

.portfolio-item.trivia {
  background: url(../img/portfolio-thumbnails/trivia.jpg);
}

.portfolio-item.infowidget {
  background: url(../img/portfolio-thumbnails/infowidget.jpg);
}

.portfolio-item.roshambo {
  background: url(../img/portfolio-thumbnails/roshambo.jpg);
}
