.contact-form {
    label {
        display: block;
    }

    &-control {
        border: color(accent) 1px solid;
        display: block;
        height: 30px;
        width: 100%;
        margin: 0 0 15px 0;
        padding-left: 10px;
    }

    &-field {
        border: color(accent) 1px solid;
        display: block;
        width: 100%;
        margin: 0 0 15px 0;
        padding-left: 10px;
    }

    &-button {
        display: block;
        padding: 8px 25px;
        color: color(white);
        background-color: color(accent);
        border: none;
        transition: all 300ms;

        &:hover {
            transform: scale(1.05);
            transition: all 300ms;
        }
    }
}
