.portfolio {
    text-align: center;

    &-item {
        display: inline-block;
        height: 200px;
        width: 250px;
        margin: 20px;
        border: color(dark_grey) 1px solid;

        &-caption {
            position: relative;
            top: 140px;
            background-color: color(accent);
            padding: 10px 10px;
            width: 100%;
            text-align: center;
            font-weight: 300;
            font-size: 22px;

            &-link {
                color: color(white);
                text-decoration: none;
            }
        }

        $thumbs: (hangman, rpg, trivia, infowidget, roshambo);
        @each $thumb in $thumbs {
            &.#{$thumb} {
                background: url(../img/portfolio-thumbnails/#{$thumb}.jpg);
            }
        }
    }
}
