footer {
    bottom: 0;
    color: color(white);
    background-color: color(dark_grey);
    border-top: color(accent) 8px solid;
    height: 75px;
    width: 100%;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
